<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="secondary">
          <ion-button (click)="getMisDenuncias()">
              <ion-icon slot="icon-only" name="refresh"></ion-icon>
          </ion-button>
      </ion-buttons>
    <ion-title text-center>Mis Denuncias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card *ngFor="let row of misDenuncias">
        <ion-card-header>
            <ion-card-subtitle color="primary" style="font-size: 1.4em;">{{row.get('tipo')}}</ion-card-subtitle>
            <ion-card-title style="font-size: 1em; font-weight: 200;">{{row.get('direccion')}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            {{row.get('descripcion')}}
        </ion-card-content>
        <div  style="width: 100%; text-align: right; padding-right: 1em; padding-bottom: 1em;">
            <ion-button *ngIf="row.get('archivo')" (click)="onAbreAcrhivo(row.get('archivo'))">
                <ion-icon name="attach"></ion-icon>
            </ion-button>
            <ion-button color="warning" (click)="onOpenChat(row.id)">
                <ion-icon name="chatbubbles" ></ion-icon>
            </ion-button>
        </div>
    </ion-card>
    <!--<ion-item *ngFor="let row of misDenuncias">
        <ion-label>{{ row.get('descripcion')}}</ion-label>
    </ion-item> -->
</ion-content>
