:host {
    .btn-action {
        width: 90%;
        height: 100px;
        border: 1px solid #cccccc;
        color: #FFF;
    }

    .btn-actividades {
        background-color: #ff3b30;
    } 

    .btn-noticias {
        background-color: #79c8a6;
    } 

    .btn-videos {
        background-color: #82c6e6;
    }

    .btn-juegos {
        background-color: #096b91;
    }

    
}