<ion-header>
  <ion-toolbar text-center>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/principal"></ion-back-button>
        </ion-buttons>
    <ion-title>SOLICITA AYUDA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    
    <ion-row>
      <ion-col>
          <img src="../../assets/images/enmascarar_grupo_14.jpg" alt="">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-input placeholder="Dirección"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-textarea placeholder="Descripción"></ion-textarea>
      </ion-col>
    </ion-row>

    <ion-row text-center>
      <ion-col size="4">
        <ion-button>
            <ion-icon name="camera"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button>
            <ion-icon name="mic"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button>
            <ion-icon name="videocam"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="full">
          Enviar
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
  
</ion-content>
