<ion-header>
  <ion-toolbar>
    <ion-title>Pincipal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="../../assets/images/grupo_81.jpg" alt="" [routerLink]="['/solicita-ayuda-page']" >
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
          <img src="../../assets/images/grupo_82.jpg" alt="" [routerLink]="['/solicita-ayuda-page']">
        </ion-col>
      </ion-row>

      <ion-row>
          <ion-col>
            <img src="../../assets/images/grupo_83.jpg" alt="" [routerLink]="['/solicita-ayuda-page']">
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
              <img src="../../assets/images/grupo_84.jpg" alt="" [routerLink]="['/solicita-ayuda-page']">
            </ion-col>
          </ion-row>

          <ion-row>
              <ion-col>
                <img src="../../assets/images/grupo_85.jpg" alt="" [routerLink]="['/solicita-ayuda-page']">
              </ion-col>
            </ion-row>
  </ion-grid>
</ion-content>
