<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>Educativo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img src="../../assets/images/imagen_22.jpg"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" class="btn-action btn-actividades">
        <ion-text>Actividades</ion-text>
      </ion-col>
      <ion-col size="6" class="btn-action btn-noticias">
          <ion-text>Noticias</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size="6" class="btn-action btn-videos">
            <ion-text>Videos</ion-text>
        </ion-col>
        <ion-col size="6" class="btn-action btn-juegos">
            <ion-text>Juegos</ion-text>
        </ion-col>
      </ion-row>

  </ion-grid>

</ion-content>
