<ion-header translucent="true" no-border>
  <ion-toolbar>
    <ion-title text-center>
      INICIO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="bg-image">
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text>
            Joven,<br>
            Estamos disponibles<br>
            Para ayudarte...
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
          <ion-button expand="full" size="default" [routerLink]="['/registro']" >Registrate</ion-button>
      </ion-col>
      <ion-col size="12">
          <ion-button expand="full" size="default" [routerLink]="['/login']">Inicia Sesión</ion-button>
      </ion-col>
      <ion-col size="12">
          <ion-button expand="full" size="default" [routerLink]="['/main']">Anonimo</ion-button>
      </ion-col>
    </ion-row>
    

  </ion-grid>

</ion-content>
