<ion-header >
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title>
          Registro
        </ion-title>
    </ion-toolbar>

  </ion-header>
  
  <ion-content fullscreen>
    
    <ion-grid>
      
      <ion-row>
        <ion-col>
          <ion-img src="../../assets/images/like.png" style="width: 100px; margin: auto; margin-top: 1em;"></ion-img>
        </ion-col>  
      </ion-row>

      <form [formGroup]="formRegistro">
        <ion-row padding>
        <ion-col>
          
          <ion-item>
            <ion-label position="floating"><ion-icon name="at"></ion-icon> Usuario</ion-label>
            <ion-input formControlName="username"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label position="floating"><ion-icon name="call"></ion-icon> Telefono</ion-label>
            <ion-input type="tel" formControlName="phone"></ion-input>
          </ion-item>
  
          <ion-item>
              <ion-label position="floating"><ion-icon name="send"></ion-icon> Correo</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating"><ion-icon name="key"></ion-icon> Clave</ion-label>
            <ion-input type="text" formControlName="password"></ion-input>
          </ion-item>
  
        </ion-col>
      </ion-row>
      </form>

      <ion-row>
        <ion-col>
          <ion-button expand="block" shape="round"  (click)="onRegister()" [disabled]="!formRegistro.valid">Registrar</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  
  </ion-content>
